In [107]:
import pandas as pd
import numpy as np
import os
import re

pd.set_option('display.max_rows', 50)

In [108]:
# CALCULATE BUDGETS FOR EACH AREA

init_budget = {}

init_budget['governance-1'] = 2
init_budget['curation-1'] = 2.5
init_budget['marketing & pr-1'] = 2.5
init_budget['community-1'] = 1.5
init_budget['finance-1'] = 1.5

init_budget['governance-2'] = 2
init_budget['curation-2'] = 2.5
init_budget['marketing & pr-2'] = 2.5
init_budget['community-2'] = 1.5
init_budget['finance-2'] = 1.5

init_budget['governance-3'] = 2
init_budget['curation-3'] = 2.5
init_budget['marketing & pr-3'] = 2.5
init_budget['community-3'] = 1.5
init_budget['finance-3'] = 1.5

init_budget['governance-4'] = 2
init_budget['curation-4'] = 2.5
init_budget['marketing & pr-4'] = 2.5
init_budget['community-4'] = 1.5
init_budget['finance-4'] = 1.5

init_budget['governance-5'] = 750
init_budget['curation-5'] = 750
init_budget['marketing & pr-5'] = 7500
init_budget['community-5'] = 500
init_budget['finance-5'] = 500

init_budget['governance-6'] = 750
init_budget['curation-6'] = 750
init_budget['marketing & pr-6'] = 7500
init_budget['community-6'] = 500
init_budget['finance-6'] = 500

init_budget['governance-7'] = 750
init_budget['curation-7'] = 750
init_budget['marketing & pr-7'] = 7500
init_budget['community-7'] = 500
init_budget['finance-7'] = 500


perf_tranche = {}

perf_tranche['governance-1'] =  0.4
perf_tranche['curation-1'] = 0.4
perf_tranche['marketing & pr-1'] = 0.4
perf_tranche['community-1'] = 0.5
perf_tranche['finance-1'] = 0.4

perf_tranche['governance-2'] =  0.4
perf_tranche['curation-2'] = 0.4
perf_tranche['marketing & pr-2'] = 0.4
perf_tranche['community-2'] = 0.5
perf_tranche['finance-2'] = 0.4

perf_tranche['governance-3'] =  0.4
perf_tranche['curation-3'] = 0.4
perf_tranche['marketing & pr-3'] = 0.4
perf_tranche['community-3'] = 0.5
perf_tranche['finance-3'] = 0.4

perf_tranche['governance-4'] =  0.4
perf_tranche['curation-4'] = 0.4
perf_tranche['marketing & pr-4'] = 0.4
perf_tranche['community-4'] = 0.5
perf_tranche['finance-4'] = 0.4

perf_tranche['governance-5'] =  0.5
perf_tranche['curation-5'] = 0.5
perf_tranche['marketing & pr-5'] = 0.3
perf_tranche['community-5'] = 0.5
perf_tranche['finance-5'] = 0.5

perf_tranche['governance-6'] =  0.5
perf_tranche['curation-6'] = 0.5
perf_tranche['marketing & pr-6'] = 0.3
perf_tranche['community-6'] = 0.5
perf_tranche['finance-6'] = 0.5

perf_tranche['governance-7'] =  0.5
perf_tranche['curation-7'] = 0.5
perf_tranche['marketing & pr-7'] = 0.3
perf_tranche['community-7'] = 0.5
perf_tranche['finance-7'] = 0.5


perf_score = {}

perf_score['governance-1'] =  5/6
perf_score['curation-1'] = 1/2
perf_score['marketing & pr-1'] = 2/3
perf_score['community-1'] = 3/3
perf_score['finance-1'] = 1/3

perf_score['governance-2'] =  1/2
perf_score['curation-2'] = 4/4
perf_score['marketing & pr-2'] = 5/5
perf_score['community-2'] = 1/2
perf_score['finance-2'] = 2/3

perf_score['governance-3'] =  1/3
perf_score['curation-3'] = 3/4
perf_score['marketing & pr-3'] = 6/8
perf_score['community-3'] = 1/2
perf_score['finance-3'] = 1/3

perf_score['governance-4'] =  0/2
perf_score['curation-4'] = 1/2
perf_score['marketing & pr-4'] = 5/6
perf_score['community-4'] = 0/1
perf_score['finance-4'] = 0/1

perf_score['governance-5'] =  2/2
perf_score['curation-5'] = 0/1
perf_score['marketing & pr-5'] = 4/5
perf_score['community-5'] = 0/1
perf_score['finance-5'] = 1/2

perf_score['governance-6'] =  0/1
perf_score['curation-6'] = 1/2
perf_score['marketing & pr-6'] = 4/5
perf_score['community-6'] = 0/1
perf_score['finance-6'] = 0/2

perf_score['governance-7'] =  0
perf_score['curation-7'] = 0
perf_score['marketing & pr-7'] = 0
perf_score['community-7'] = 0
perf_score['finance-7'] = 0



final_budget = {}
total_monthly_budget = {}
total_init = 0

for area in init_budget:
  month = area.split("-")[1]
  final_budget[area] = round(init_budget[area]*(1-perf_tranche[area]) + init_budget[area]*(perf_tranche[area]*perf_score[area]),2)
  
  if month not in total_monthly_budget:
    total_monthly_budget[month] = 0  

  total_monthly_budget[month] = round(total_monthly_budget[month] + final_budget[area],2)
  total_init = total_init + init_budget[area]

print(final_budget)
print(total_monthly_budget)

{'governance-1': 1.87, 'curation-1': 2.0, 'marketing & pr-1': 2.17, 'community-1': 1.5, 'finance-1': 1.1, 'governance-2': 1.6, 'curation-2': 2.5, 'marketing & pr-2': 2.5, 'community-2': 1.12, 'finance-2': 1.3, 'governance-3': 1.47, 'curation-3': 2.25, 'marketing & pr-3': 2.25, 'community-3': 1.12, 'finance-3': 1.1, 'governance-4': 1.2, 'curation-4': 2.0, 'marketing & pr-4': 2.33, 'community-4': 0.75, 'finance-4': 0.9, 'governance-5': 750.0, 'curation-5': 375.0, 'marketing & pr-5': 7050.0, 'community-5': 250.0, 'finance-5': 375.0, 'governance-6': 375.0, 'curation-6': 562.5, 'marketing & pr-6': 7050.0, 'community-6': 250.0, 'finance-6': 250.0, 'governance-7': 375.0, 'curation-7': 375.0, 'marketing & pr-7': 5250.0, 'community-7': 250.0, 'finance-7': 250.0}
{'1': 8.64, '2': 9.02, '3': 8.19, '4': 7.18, '5': 8800.0, '6': 8487.5, '7': 6500.0}

In [109]:
# READ AND CLEAN COORDINAPE DATA
dfs = {}
voting_members = {}
total_give = {}

for file in os.listdir('./coordinape_data'):
  try:
    # read data from coordinape files  
    key = file.split(".")[0]
    # print(key)
    dfs[key] = pd.read_csv('./coordinape_data/'+ file)
    
    # calculate voting stats for each area
    voting_members[key] = int(dfs[key]['sent'].astype(bool).sum(axis=0))
    total_give[key] = int(dfs[key]['received'].sum())

    # calculate compensation per area
    dfs[key] = dfs[key].sort_values(by=['received'], ascending = False) # sort
    dfs[key] = dfs[key][['name','address','received']] # select relevant cols
    dfs[key]['percent_comp'] = dfs[key]['received']/total_give[key] # calculate percentage comp.
    dfs[key]['eth_compensation'] = dfs[key]['percent_comp'] * final_budget[key] # calculate actual ETH comp.
    dfs[key] = dfs[key][dfs[key]['eth_compensation'] > 0] # filter people with 0 compensation
    dfs[key]['area'] = key
    dfs[key]['total_budget_of_area'] = final_budget[key]
  except NameError:
    print(file + ' -> file skipped')
    print(key)
    print(NameError)

# prepare area breakdown for reporting
df_export = pd.concat(dfs)

# merge everything and calculate compensation per member
comp_df = pd.concat(dfs)
comp_df = comp_df[['name','address','eth_compensation']]
comp_df = comp_df.groupby(by=['name','address']).sum().reset_index()
comp_df = comp_df.sort_values(by=['eth_compensation'], ascending = False)

print('# of members who voted per area: ' + str(voting_members))
print('total votes per area: ' + str(total_give))
print("total compensated members: " + str(len(comp_df)))

# of members who voted per area: {'community-1': 17, 'community-2': 17, 'community-3': 10, 'community-4': 15, 'community-5': 0, 'community-6': 5, 'community-7': 5, 'curation-1': 17, 'curation-2': 16, 'curation-3': 17, 'curation-4': 16, 'curation-5': 1, 'curation-6': 9, 'curation-7': 7, 'finance-1': 8, 'finance-2': 13, 'finance-3': 10, 'finance-4': 11, 'finance-5': 0, 'finance-6': 3, 'finance-7': 0, 'governance-1': 16, 'governance-2': 18, 'governance-3': 11, 'governance-4': 15, 'governance-5': 0, 'governance-6': 6, 'governance-7': 3, 'marketing & pr-1': 19, 'marketing & pr-2': 17, 'marketing & pr-3': 12, 'marketing & pr-4': 16, 'marketing & pr-5': 1, 'marketing & pr-6': 8, 'marketing & pr-7': 7}
total votes per area: {'community-1': 1758, 'community-2': 1945, 'community-3': 1260, 'community-4': 1868, 'community-5': 0, 'community-6': 845, 'community-7': 630, 'curation-1': 1692, 'curation-2': 1835, 'curation-3': 1954, 'curation-4': 2100, 'curation-5': 100, 'curation-6': 1495, 'curation-7': 1050, 'finance-1': 755, 'finance-2': 1445, 'finance-3': 1235, 'finance-4': 1376, 'finance-5': 0, 'finance-6': 680, 'finance-7': 0, 'governance-1': 1545, 'governance-2': 1950, 'governance-3': 1320, 'governance-4': 1672, 'governance-5': 0, 'governance-6': 1065, 'governance-7': 490, 'marketing & pr-1': 2069, 'marketing & pr-2': 1875, 'marketing & pr-3': 1532, 'marketing & pr-4': 2096, 'marketing & pr-5': 150, 'marketing & pr-6': 1445, 'marketing & pr-7': 1086}
total compensated members: 50

In [110]:
# PRINT VOTES PER MEMBER PER AREA
df_export[['name','total_budget_of_area','received','percent_comp','eth_compensation']]
df_export_2 = df_export.reset_index()
df_export_2 = df_export_2.rename(columns={'level_0': 'filename'})
df_export_2['month'] = df_export_2['filename'].str[-1:]

# get total monthly budgets
df_budgets = pd.DataFrame(list(total_monthly_budget.items()), columns=['month', 'total_months_budget'])

df_left = pd.merge(df_export_2,df_budgets, on='month', how='left')
df_left

,filename,level_1,name,address,received,percent_comp,eth_compensation,area,total_budget_of_area,month,total_months_budget
0,community-1,14,claudia#0273,0x71b49fe06436d997b14228c96ac9bf4439147259,190,0.108077,0.162116,community-1,1.5,1,8.64
1,community-1,10,ezra | shibboleth.eth*,0x2b0386bbdd314d8356c21f39be2491f975bd6361,186,0.105802,0.158703,community-1,1.5,1,8.64
2,community-1,29,JoseCactuss,0x077a2b46186e6bab0cd1a7aec7895b8a1240059c,170,0.096701,0.145051,community-1,1.5,1,8.64
3,community-1,54,Lapsus#4632,0x96e1f3e799133567258871cebff1760e4b4a655f,161,0.091581,0.137372,community-1,1.5,1,8.64
4,community-1,21,matthewbrooks.eth*,0x68dfb9b374b0a1ce996770ddf32916a530b4785f,149,0.084755,0.127133,community-1,1.5,1,8.64
...,...,...,...,...,...,...,...,...,...,...,...
535,marketing & pr-7,17,claudia#0273,0x71b49fe06436d997b14228c96ac9bf4439147259,180,0.165746,870.165746,marketing & pr-7,5250.0,7,6500.00
536,marketing & pr-7,48,Lapsus#4632,0x96e1f3e799133567258871cebff1760e4b4a655f,177,0.162983,855.662983,marketing & pr-7,5250.0,7,6500.00
537,marketing & pr-7,37,munzmeister,0x3a6fbd3f84191233831f6f28b72c008f1641a26b,160,0.147330,773.480663,marketing & pr-7,5250.0,7,6500.00
538,marketing & pr-7,34,samcronenberg,0xed612297c382908cf213e419925847b5a4052059,126,0.116022,609.116022,marketing & pr-7,5250.0,7,6500.00
539,marketing & pr-7,44,danielhuete,0x6b938735db6ab2613f215d56c51d49935f4bbf27,26,0.023941,125.690608,marketing & pr-7,5250.0,7,6500.00

In [116]:
# CALCULATE RANKINGS FOR LONG TERM COMP MODEL

df_rankings = df_left.reset_index()

# This is where we get into a discussion of how exactly to normalize the ranking. The approach I've chosen here is to weigh each member's score by the areas budget, 
# which is equivalent to using their ETH compensation as the score measurement. This way, members who are performing in areas with higher budget (deemed more important) 
# will score higher in the rankings.

df_rankings['normalized_score'] = df_rankings['percent_comp'] * df_rankings['total_budget_of_area']/df_rankings['total_months_budget'] # score weighted by area's budget
df_rankings = df_rankings[['name','address','normalized_score','area']]
df_rankings = df_rankings.groupby(by=['name','address']).sum()
df_rankings = df_rankings.sort_values(by=['normalized_score'], ascending = False).reset_index()
df_rankings.index = df_rankings.index + 1
df_rankings['percentile'] = df_rankings.index/len(df_rankings)

# Award Conditions
conditions = [
    (df_rankings['percentile'] <= 0.1),
    (df_rankings['percentile'] > 0.1) & (df_rankings['percentile'] <= 0.25),
    (df_rankings['percentile'] > 0.25) & (df_rankings['percentile'] <= 0.5),
    (df_rankings['percentile'] > 0.5) & (df_rankings['percentile'] <= 0.8),
    (df_rankings['percentile'] > 0.8)
]

tier = [ 
    'top 10%',
    'top 25%',
    'top 50%',
    'bottom 50%',
    'bottom 20%'
]

tokens_awarded = [
    3000,
    1500,
    500,
    0,
    0
]

coordinape = [ 
    20,
    10,
    5,
    0,
    'reset to 100'
]


df_rankings['tier'] = np.select(conditions, tier)
df_rankings['$RAW Awarded'] = np.select(conditions, tokens_awarded)
# df_rankings['coordinape_change'] = np.select(conditions, coordinape)


print('total $RAW Awarded = ' + str(df_rankings['$RAW Awarded'].sum()))
df_rankings[['name','normalized_score', 'percentile', 'tier', '$RAW Awarded']]

total $RAW Awarded = 32000

C:\Users\lucas\AppData\Local\Temp\ipykernel_22608\1730258427.py:11: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_rankings = df_rankings.groupby(by=['name','address']).sum()

,name,normalized_score,percentile,tier,$RAW Awarded
1,brileigh.eth,1.035796,0.02,top 10%,3000
2,matthewbrooks.eth*,0.991457,0.04,top 10%,3000
3,claudia#0273,0.881371,0.06,top 10%,3000
4,munzmeister,0.743474,0.08,top 10%,3000
5,Lapsus#4632,0.634238,0.10,top 10%,3000
6,JoseCactuss,0.407254,0.12,top 25%,1500
7,samcronenberg,0.308865,0.14,top 25%,1500
8,lucaspon,0.175119,0.16,top 25%,1500
9,mishaderidder,0.144708,0.18,top 25%,1500
10,TrevorTraynor,0.129013,0.20,top 25%,1500
11,bthemouth#0088,0.118324,0.22,top 25%,1500
12,b123#2778,0.116028,0.24,top 25%,1500
13,glory,0.111829,0.26,top 50%,500
14,ezra | shibboleth.eth*,0.104845,0.28,top 50%,500
15,tatiana#6176,0.101105,0.30,top 50%,500
16,MesutNFT#9591,0.099630,0.32,top 50%,500
17,samedixsnft#8110,0.083859,0.34,top 50%,500
18,nyquist,0.060011,0.36,top 50%,500
19,danielhuete,0.056900,0.38,top 50%,500
20,darkroom.felix,0.050982,0.40,top 50%,500
21,hddamico,0.046101,0.42,top 50%,500
22,(Deleted) quimp,0.046095,0.44,top 50%,500
23,chadwicktyler#3331,0.044854,0.46,top 50%,500
24,shanelavalette#2830,0.042256,0.48,top 50%,500
25,alexcartagenamex#4215,0.039726,0.50,top 50%,500
26,Samovarul#6470,0.031595,0.52,bottom 50%,0
27,HugoFaz,0.030297,0.54,bottom 50%,0
28,vcolak,0.026609,0.56,bottom 50%,0
29,blockbird#2283,0.021050,0.58,bottom 50%,0
30,Freddie#0100,0.016595,0.60,bottom 50%,0
31,foto.eth#8472,0.016534,0.62,bottom 50%,0
32,carlovanderoer#0512,0.014335,0.64,bottom 50%,0
33,FramesFL#3512,0.010706,0.66,bottom 50%,0
34,Zak_Krevitt#7060,0.008461,0.68,bottom 50%,0
35,Klamt#3962,0.007282,0.70,bottom 50%,0
36,drivenbyboredom,0.006429,0.72,bottom 50%,0
37,RobinFriend#7507,0.005712,0.74,bottom 50%,0
38,Let’s Not Know Us#1036,0.005179,0.76,bottom 50%,0
39,(Deleted) mmiliszkiewicz#5782,0.004632,0.78,bottom 50%,0
40,tommydavidphoto,0.004513,0.80,bottom 50%,0
41,f1cken,0.004418,0.82,bottom 20%,0
42,charlierubin#0001,0.003899,0.84,bottom 20%,0
43,alexandruchitu.eth#6244,0.003254,0.86,bottom 20%,0
44,MichaMandelberg#1138,0.002844,0.88,bottom 20%,0
45,(Deleted) FramesFL#3512,0.002469,0.90,bottom 20%,0
46,TheLoopDigga,0.002052,0.92,bottom 20%,0
47,(Deleted) ednz.eth#4780,0.001621,0.94,bottom 20%,0
48,M Ram 2,0.000420,0.96,bottom 20%,0
49,(Deleted) thebonnie#3404,0.000420,0.98,bottom 20%,0
50,(Deleted) MickeySmith#2765,0.000121,1.00,bottom 20%,0

In [120]:
# EXPORT RESULTS TO EXCEL
from pathlib import Path
Path("./outputs").mkdir(parents=True, exist_ok=True)

# df_export.to_excel("./outputs/"+ month +" - compensation_per_area.xlsx")
# comp_df.to_excel("./outputs/"+ month +" - compensation_by_member.xlsx")
# df_rankings.to_excel("./outputs/"+ month +" - LT_comp_rankings.xlsx")
df_rankings.to_excel("./outputs/LT_comp_rankings.xlsx")